In [5]:

import pandas as pd
bikes = pd.read_csv("C:\\Users\\BARBIE\\pytho_concept\\panda\\bike_shairing_hourly.csv")

In [6]:
bikes.head()
#bikes.tail()
#bikes.shape        #rows,column

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [7]:
# tail()
bikes.tail()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [9]:
# shape
bikes.shape

(17379, 17)

In [10]:
bikes.size

295443

In [14]:
bikes.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\barbie\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\barbie\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\barbie\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\barbie\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\barbie\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\barbie\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

# formatting,cleaning and filtering data

In [13]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB


# PROPERTIES of DATA

In [ ]:

bikes.columns 

#bikes.yr.unique()
#bikes.holiday.unique()
#

#bikes.season.unique() # for season
# same thing can be done using :
#bikes["season"].unique() #

In [21]:
print(bikes.season.unique())
print(bikes["season"].unique())

[1 2 3 4]
[1 2 3 4]

In [18]:
#bikes.dteday.unique() ''' unique value present in each feature. these unique value can give some hints
#while doing grouping of data.'''
bikes.dteday.unique()

array(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
       '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
       '2011-01-09', '2011-01-10', '2011-01-11', '2011-01-12',
       '2011-01-13', '2011-01-14', '2011-01-15', '2011-01-16',
       '2011-01-17', '2011-01-18', '2011-01-19', '2011-01-20',
       '2011-01-21', '2011-01-22', '2011-01-23', '2011-01-24',
       '2011-01-25', '2011-01-26', '2011-01-27', '2011-01-28',
       '2011-01-29', '2011-01-30', '2011-01-31', '2011-02-01',
       '2011-02-02', '2011-02-03', '2011-02-04', '2011-02-05',
       '2011-02-06', '2011-02-07', '2011-02-08', '2011-02-09',
       '2011-02-10', '2011-02-11', '2011-02-12', '2011-02-13',
       '2011-02-14', '2011-02-15', '2011-02-16', '2011-02-17',
       '2011-02-18', '2011-02-19', '2011-02-20', '2011-02-21',
       '2011-02-22', '2011-02-23', '2011-02-24', '2011-02-25',
       '2011-02-26', '2011-02-27', '2011-02-28', '2011-03-01',
       '2011-03-02', '2011-03-03', '2011-03-04', '2011-03-05',
       '2011-03-06', '2011-03-07', '2011-03-08', '2011-03-09',
       '2011-03-10', '2011-03-11', '2011-03-12', '2011-03-13',
       '2011-03-14', '2011-03-15', '2011-03-16', '2011-03-17',
       '2011-03-18', '2011-03-19', '2011-03-20', '2011-03-21',
       '2011-03-22', '2011-03-23', '2011-03-24', '2011-03-25',
       '2011-03-26', '2011-03-27', '2011-03-28', '2011-03-29',
       '2011-03-30', '2011-03-31', '2011-04-01', '2011-04-02',
       '2011-04-03', '2011-04-04', '2011-04-05', '2011-04-06',
       '2011-04-07', '2011-04-08', '2011-04-09', '2011-04-10',
       '2011-04-11', '2011-04-12', '2011-04-13', '2011-04-14',
       '2011-04-15', '2011-04-16', '2011-04-17', '2011-04-18',
       '2011-04-19', '2011-04-20', '2011-04-21', '2011-04-22',
       '2011-04-23', '2011-04-24', '2011-04-25', '2011-04-26',
       '2011-04-27', '2011-04-28', '2011-04-29', '2011-04-30',
       '2011-05-01', '2011-05-02', '2011-05-03', '2011-05-04',
       '2011-05-05', '2011-05-06', '2011-05-07', '2011-05-08',
       '2011-05-09', '2011-05-10', '2011-05-11', '2011-05-12',
       '2011-05-13', '2011-05-14', '2011-05-15', '2011-05-16',
       '2011-05-17', '2011-05-18', '2011-05-19', '2011-05-20',
       '2011-05-21', '2011-05-22', '2011-05-23', '2011-05-24',
       '2011-05-25', '2011-05-26', '2011-05-27', '2011-05-28',
       '2011-05-29', '2011-05-30', '2011-05-31', '2011-06-01',
       '2011-06-02', '2011-06-03', '2011-06-04', '2011-06-05',
       '2011-06-06', '2011-06-07', '2011-06-08', '2011-06-09',
       '2011-06-10', '2011-06-11', '2011-06-12', '2011-06-13',
       '2011-06-14', '2011-06-15', '2011-06-16', '2011-06-17',
       '2011-06-18', '2011-06-19', '2011-06-20', '2011-06-21',
       '2011-06-22', '2011-06-23', '2011-06-24', '2011-06-25',
       '2011-06-26', '2011-06-27', '2011-06-28', '2011-06-29',
       '2011-06-30', '2011-07-01', '2011-07-02', '2011-07-03',
       '2011-07-04', '2011-07-05', '2011-07-06', '2011-07-07',
       '2011-07-08', '2011-07-09', '2011-07-10', '2011-07-11',
       '2011-07-12', '2011-07-13', '2011-07-14', '2011-07-15',
       '2011-07-16', '2011-07-17', '2011-07-18', '2011-07-19',
       '2011-07-20', '2011-07-21', '2011-07-22', '2011-07-23',
       '2011-07-24', '2011-07-25', '2011-07-26', '2011-07-27',
       '2011-07-28', '2011-07-29', '2011-07-30', '2011-07-31',
       '2011-08-01', '2011-08-02', '2011-08-03', '2011-08-04',
       '2011-08-05', '2011-08-06', '2011-08-07', '2011-08-08',
       '2011-08-09', '2011-08-10', '2011-08-11', '2011-08-12',
       '2011-08-13', '2011-08-14', '2011-08-15', '2011-08-16',
       '2011-08-17', '2011-08-18', '2011-08-19', '2011-08-20',
       '2011-08-21', '2011-08-22', '2011-08-23', '2011-08-24',
       '2011-08-25', '2011-08-26', '2011-08-27', '2011-08-28',
       '2011-08-29', '2011-08-30', '2011-08-31', '2011-09-01',
       '2011-09-02', '2011-09-03', '2011-09-04', '2011-09-05',
       '2011-09-06', '2011-09-07', '2011-09-08', '2011-09-09',
       '2011-09-10', '2011-09-11', '2011-09-12', '2011-09-13',
       '2011-09-14', '2011-09-15', '2011-09-16', '2011-09-17',
       '2011-09-18', '2011-09-19', '2011-09-20', '2011-09-21',
       '2011-09-22', '2011-09-23', '2011-09-24', '2011-09-25',
       '2011-09-26', '2011-09-27', '2011-09-28', '2011-09-29',
       '2011-09-30', '2011-10-01', '2011-10-02', '2011-10-03',
       '2011-10-04', '2011-10-05', '2011-10-06', '2011-10-07',
       '2011-10-08', '2011-10-09', '2011-10-10', '2011-10-11',
       '2011-10-12', '2011-10-13', '2011-10-14', '2011-10-15',
       '2011-10-16', '2011-10-17', '2011-10-18', '2011-10-19',
       '2011-10-20', '2011-10-21', '2011-10-22', '2011-10-23',
       '2011-10-24', '2011-10-25', '2011-10-26', '2011-10-27',
       '2011-10-28', '2011-10-29', '2011-10-30', '2011-10-31',
       '2011-11-01', '2011-11-02', '2011-11-03', '2011-11-04',
       '2011-11-05', '2011-11-06', '2011-11-07', '2011-11-08',
       '2011-11-09', '2011-11-10', '2011-11-11', '2011-11-12',
       '2011-11-13', '2011-11-14', '2011-11-15', '2011-11-16',
       '2011-11-17', '2011-11-18', '2011-11-19', '2011-11-20',
       '2011-11-21', '2011-11-22', '2011-11-23', '2011-11-24',
       '2011-11-25', '2011-11-26', '2011-11-27', '2011-11-28',
       '2011-11-29', '2011-11-30', '2011-12-01', '2011-12-02',
       '2011-12-03', '2011-12-04', '2011-12-05', '2011-12-06',
       '2011-12-07', '2011-12-08', '2011-12-09', '2011-12-10',
       '2011-12-11', '2011-12-12', '2011-12-13', '2011-12-14',
       '2011-12-15', '2011-12-16', '2011-12-17', '2011-12-18',
       '2011-12-19', '2011-12-20', '2011-12-21', '2011-12-22',
       '2011-12-23', '2011-12-24', '2011-12-25', '2011-12-26',
       '2011-12-27', '2011-12-28', '2011-12-29', '2011-12-30',
       '2011-12-31', '2012-01-01', '2012-01-02', '2012-01-03',
       '2012-01-04', '2012-01-05', '2012-01-06', '2012-01-07',
       '2012-01-08', '2012-01-09', '2012-01-10', '2012-01-11',
       '2012-01-12', '2012-01-13', '2012-01-14', '2012-01-15',
       '2012-01-16', '2012-01-17', '2012-01-18', '2012-01-19',
       '2012-01-20', '2012-01-21', '2012-01-22', '2012-01-23',
       '2012-01-24', '2012-01-25', '2012-01-26', '2012-01-27',
       '2012-01-28', '2012-01-29', '2012-01-30', '2012-01-31',
       '2012-02-01', '2012-02-02', '2012-02-03', '2012-02-04',
       '2012-02-05', '2012-02-06', '2012-02-07', '2012-02-08',
       '2012-02-09', '2012-02-10', '2012-02-11', '2012-02-12',
       '2012-02-13', '2012-02-14', '2012-02-15', '2012-02-16',
       '2012-02-17', '2012-02-18', '2012-02-19', '2012-02-20',
       '2012-02-21', '2012-02-22', '2012-02-23', '2012-02-24',
       '2012-02-25', '2012-02-26', '2012-02-27', '2012-02-28',
       '2012-02-29', '2012-03-01', '2012-03-02', '2012-03-03',
       '2012-03-04', '2012-03-05', '2012-03-06', '2012-03-07',
       '2012-03-08', '2012-03-09', '2012-03-10', '2012-03-11',
       '2012-03-12', '2012-03-13', '2012-03-14', '2012-03-15',
       '2012-03-16', '2012-03-17', '2012-03-18', '2012-03-19',
       '2012-03-20', '2012-03-21', '2012-03-22', '2012-03-23',
       '2012-03-24', '2012-03-25', '2012-03-26', '2012-03-27',
       '2012-03-28', '2012-03-29', '2012-03-30', '2012-03-31',
       '2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
       '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
       '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
       '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
       '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
       '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
       '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
       '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
       '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
       '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
       '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
       '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
       '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
       '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
       '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
       '2012-05-31', '2012-06-01', '2012-06-02', '2012-06-03',
       '2012-06-04', '2012-06-05', '2012-06-06', '2012-06-07',
       '2012-06-08', '2012-06-09', '2012-06-10', '2012-06-11',
       '2012-06-12', '2012-06-13', '2012-06-14', '2012-06-15',
       '2012-06-16', '2012-06-17', '2012-06-18', '2012-06-19',
       '2012-06-20', '2012-06-21', '2012-06-22', '2012-06-23',
       '2012-06-24', '2012-06-25', '2012-06-26', '2012-06-27',
       '2012-06-28', '2012-06-29', '2012-06-30', '2012-07-01',
       '2012-07-02', '2012-07-03', '2012-07-04', '2012-07-05',
       '2012-07-06', '2012-07-07', '2012-07-08', '2012-07-09',
       '2012-07-10', '2012-07-11', '2012-07-12', '2012-07-13',
       '2012-07-14', '2012-07-15', '2012-07-16', '2012-07-17',
       '2012-07-18', '2012-07-19', '2012-07-20', '2012-07-21',
       '2012-07-22', '2012-07-23', '2012-07-24', '2012-07-25',
       '2012-07-26', '2012-07-27', '2012-07-28', '2012-07-29',
       '2012-07-30', '2012-07-31', '2012-08-01', '2012-08-02',
       '2012-08-03', '2012-08-04', '2012-08-05', '2012-08-06',
       '2012-08-07', '2012-08-08', '2012-08-09', '2012-08-10',
       '2012-08-11', '2012-08-12', '2012-08-13', '2012-08-14',
       '2012-08-15', '2012-08-16', '2012-08-17', '2012-08-18',
       '2012-08-19', '2012-08-20', '2012-08-21', '2012-08-22',
       '2012-08-23', '2012-08-24', '2012-08-25', '2012-08-26',
       '2012-08-27', '2012-08-28', '2012-08-29', '2012-08-30',
       '2012-08-31', '2012-09-01', '2012-09-02', '2012-09-03',
       '2012-09-04', '2012-09-05', '2012-09-06', '2012-09-07',
       '2012-09-08', '2012-09-09', '2012-09-10', '2012-09-11',
       '2012-09-12', '2012-09-13', '2012-09-14', '2012-09-15',
       '2012-09-16', '2012-09-17', '2012-09-18', '2012-09-19',
       '2012-09-20', '2012-09-21', '2012-09-22', '2012-09-23',
       '2012-09-24', '2012-09-25', '2012-09-26', '2012-09-27',
       '2012-09-28', '2012-09-29', '2012-09-30', '2012-10-01',
       '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
       '2012-10-06', '2012-10-07', '2012-10-08', '2012-10-09',
       '2012-10-10', '2012-10-11', '2012-10-12', '2012-10-13',
       '2012-10-14', '2012-10-15', '2012-10-16', '2012-10-17',
       '2012-10-18', '2012-10-19', '2012-10-20', '2012-10-21',
       '2012-10-22', '2012-10-23', '2012-10-24', '2012-10-25',
       '2012-10-26', '2012-10-27', '2012-10-28', '2012-10-29',
       '2012-10-30', '2012-10-31', '2012-11-01', '2012-11-02',
       '2012-11-03', '2012-11-04', '2012-11-05', '2012-11-06',
       '2012-11-07', '2012-11-08', '2012-11-09', '2012-11-10',
       '2012-11-11', '2012-11-12', '2012-11-13', '2012-11-14',
       '2012-11-15', '2012-11-16', '2012-11-17', '2012-11-18',
       '2012-11-19', '2012-11-20', '2012-11-21', '2012-11-22',
       '2012-11-23', '2012-11-24', '2012-11-25', '2012-11-26',
       '2012-11-27', '2012-11-28', '2012-11-29', '2012-11-30',
       '2012-12-01', '2012-12-02', '2012-12-03', '2012-12-04',
       '2012-12-05', '2012-12-06', '2012-12-07', '2012-12-08',
       '2012-12-09', '2012-12-10', '2012-12-11', '2012-12-12',
       '2012-12-13', '2012-12-14', '2012-12-15', '2012-12-16',
       '2012-12-17', '2012-12-18', '2012-12-19', '2012-12-20',
       '2012-12-21', '2012-12-22', '2012-12-23', '2012-12-24',
       '2012-12-25', '2012-12-26', '2012-12-27', '2012-12-28',
       '2012-12-29', '2012-12-30', '2012-12-31'], dtype=object)

In [23]:
bikes.hr.unique()
bikes["hr"].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [26]:
bikes.temp.unique()
bikes['temp'].unique()

array([0.24, 0.22, 0.2 , 0.32, 0.38, 0.36, 0.42, 0.46, 0.44, 0.4 , 0.34,
       0.3 , 0.26, 0.16, 0.14, 0.18, 0.12, 0.28, 0.1 , 0.08, 0.06, 0.04,
       0.02, 0.52, 0.56, 0.58, 0.6 , 0.48, 0.54, 0.5 , 0.66, 0.64, 0.62,
       0.68, 0.7 , 0.74, 0.76, 0.72, 0.78, 0.82, 0.8 , 0.86, 0.88, 0.9 ,
       0.84, 0.92, 0.94, 0.96, 0.98, 1.  ])

In [28]:
bikes.atemp.unique()
bikes['atemp'].unique()

array([0.2879, 0.2727, 0.2576, 0.3485, 0.3939, 0.3333, 0.4242, 0.4545,
       0.4394, 0.4091, 0.2273, 0.2121, 0.197 , 0.1667, 0.1364, 0.1061,
       0.1212, 0.1818, 0.2424, 0.1515, 0.3182, 0.0606, 0.0758, 0.0909,
       0.303 , 0.0303, 0.0455, 0.    , 0.0152, 0.3636, 0.5   , 0.5303,
       0.5455, 0.5909, 0.4697, 0.5152, 0.6212, 0.6061, 0.4848, 0.3788,
       0.6364, 0.6515, 0.6667, 0.5758, 0.5606, 0.6818, 0.697 , 0.7424,
       0.7727, 0.7576, 0.7273, 0.7121, 0.803 , 0.7879, 0.8333, 0.8182,
       0.8485, 0.8788, 0.8636, 0.8939, 0.9242, 0.9091, 0.9545, 0.9848,
       1.    ])

In [30]:
bikes.cnt.unique()
bikes['cnt'].unique()

array([ 16,  40,  32,  13,   1,   2,   3,   8,  14,  36,  56,  84,  94,
       106, 110,  93,  67,  35,  37,  34,  28,  39,  17,   9,   6,  20,
        53,  70,  75,  59,  74,  76,  65,  30,  22,  31,   5,  64, 154,
        88,  44,  51,  61,  77,  72, 157,  52,  12,   4, 179, 100,  42,
        57,  78,  97,  63,  83, 212, 182, 112,  54,  48,  11,  33, 195,
       115,  46,  79,  71,  62,  89, 190, 169, 132,  43,  19,  95, 219,
       122,  45,  86, 172, 163,  69,  23,   7, 210, 134,  73,  50,  87,
       187, 123,  15,  25,  98, 102,  55,  10,  49,  82,  92,  41,  38,
       188,  47, 178, 155,  24,  18,  27,  99, 217, 130, 136,  29, 128,
        81,  68, 139, 137, 202,  60, 162, 144, 158, 117,  90, 159, 101,
       118, 129,  26, 104,  91, 113, 105,  21,  80, 125, 133, 197, 109,
       161, 249, 143, 215, 185, 152, 126, 166, 120,  96, 103,  58, 116,
       177, 184, 153, 108, 238, 222, 225, 146, 119, 149, 107, 156, 111,
       135, 176, 168, 175, 147, 220, 127, 205, 174, 121, 230,  66, 114,
       216, 243, 199, 170, 165, 160, 140, 211, 145, 256, 223,  85, 206,
       124, 255, 285, 274, 272, 191, 232, 327, 224, 196, 171, 198, 167,
       235, 209, 141, 252, 189, 183, 193, 259, 282, 261, 268, 142, 131,
       214, 242, 148, 201, 150, 228, 204, 164, 233, 257, 151, 248, 194,
       244, 213, 181, 221, 250, 304, 241, 271, 253, 237, 299, 313, 310,
       207, 138, 280, 173, 332, 331, 267, 301, 312, 278, 203, 279, 308,
       226, 276, 336, 307, 273, 227, 239, 254, 287, 294, 263, 192, 281,
       367, 349, 292, 303, 339, 366, 386, 325, 356, 314, 343, 333, 297,
       288, 236, 240, 452, 383, 284, 291, 309, 321, 337, 388, 300, 200,
       180, 354, 361, 306, 277, 428, 362, 286, 351, 411, 421, 396, 432,
       441, 365, 481, 324, 346, 391, 397, 426, 376, 283, 289, 317, 420,
       369, 359, 270, 353, 521, 499, 382, 449, 186, 528, 328, 234, 246,
       444, 218, 412, 260, 398, 455, 530, 404, 269, 508, 439, 416, 464,
       407, 371, 387, 264, 266, 537, 518, 265, 459, 517, 544, 290, 410,
       296, 440, 533, 520, 258, 450, 344, 553, 470, 298, 347, 373, 436,
       378, 342, 340, 390, 358, 385, 374, 598, 524, 384, 425, 611, 550,
       434, 318, 442, 401, 594, 527, 364, 491, 295, 322, 456, 437, 392,
       231, 394, 453, 604, 480, 565, 489, 487, 302, 547, 513, 319, 330,
       554, 473, 323, 418, 493, 462, 506, 471, 305, 316, 409, 429, 548,
       564, 355, 531, 601, 405, 494, 478, 419, 399, 402, 341, 251, 229,
       350, 311, 406, 495, 417, 454, 486, 467, 572, 525, 379, 502, 558,
       293, 247, 451, 335, 363, 357, 438, 579, 556, 334, 477, 539, 551,
       424, 466, 326, 463, 380, 275, 315, 360, 476, 586, 423, 569, 538,
       370, 498, 638, 607, 552, 208, 468, 381, 377, 431, 536, 529, 540,
       400, 352, 557, 375, 443, 403, 447, 591, 504, 570, 588, 320, 555,
       492, 427, 461, 422, 414, 408, 457, 545, 496, 368, 245, 596, 563,
       562, 372, 514, 472, 511, 488, 595, 578, 348, 587, 497, 433, 475,
       430, 262, 485, 546, 541, 483, 338, 543, 413, 435, 523, 532, 585,
       584, 559, 582, 571, 516, 465, 329, 600, 609, 651, 519, 567, 621,
       484, 469, 576, 608, 446, 628, 389, 505, 460, 590, 599, 566, 482,
       568, 415, 589, 345, 593, 393, 500, 479, 620, 625, 614, 395, 445,
       512, 490, 515, 526, 509, 448, 560, 610, 522, 549, 501, 612, 597,
       644, 712, 676, 734, 662, 782, 749, 623, 713, 746, 686, 690, 679,
       685, 648, 503, 721, 801, 750, 535, 729, 779, 649, 810, 957, 830,
       657, 664, 684, 458, 581, 658, 641, 654, 703, 681, 606, 605, 561,
       573, 618, 757, 800, 744, 759, 822, 698, 655, 643, 626, 615, 617,
       632, 646, 692, 704, 624, 656, 738, 671, 678, 660, 635, 616, 673,
       781, 775, 677, 748, 776, 700, 580, 819, 668, 640, 639, 691, 732,
       709, 592, 702, 653, 603, 683, 743, 666, 813, 627, 706, 575, 769,
       680, 717, 710, 622, 705, 630, 770, 659, 602, 733, 650, 873, 846,
       474, 634, 852, 868, 745, 812, 669, 642, 730, 672, 645, 637, 577,
       785, 719, 798, 752, 583, 839, 796, 507, 693, 827, 694, 647, 665,
       834, 850, 790, 724, 869, 793, 723, 534, 831, 613, 857, 867, 823,
       542, 811, 795, 833, 791, 900, 824, 687, 843, 804, 697, 747, 722,
       689, 849, 872, 631, 674, 814, 633, 825, 629, 835, 667, 755, 794,
       661, 772, 771, 777, 715, 847, 741, 877, 788, 913, 891, 688, 699,
       751, 760, 820, 837, 652, 739, 865, 767, 858, 737, 862, 818, 854,
       682, 851, 848, 897, 832, 893, 815, 878, 740, 783, 707, 941, 736,
       845, 864, 808, 870, 754, 844, 853, 856, 725, 863, 792, 696, 701,
       871, 968, 970, 925, 977, 758, 884, 766, 894, 842, 774, 797, 886,
       892, 976, 805, 898, 967, 838, 953, 905, 899, 663, 727, 784, 809,
       917, 901, 887, 761, 806, 948, 670, 619, 943, 817, 888, 890, 714,
       711, 731, 675, 728, 922, 786, 938, 826, 963, 708, 636])

In [63]:
print(bikes.season.unique())
print(bikes.yr.unique())
print(bikes.mnth.unique())
print(bikes.hr.unique())
print(bikes.dteday.unique())

[1 2 3 4]
[0 1]
[ 1  2  3  4  5  6  7  8  9 10 11 12]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
['2011-01-01' '2011-01-02' '2011-01-03' '2011-01-04' '2011-01-05'
 '2011-01-06' '2011-01-07' '2011-01-08' '2011-01-09' '2011-01-10'
 '2011-01-11' '2011-01-12' '2011-01-13' '2011-01-14' '2011-01-15'
 '2011-01-16' '2011-01-17' '2011-01-18' '2011-01-19' '2011-01-20'
 '2011-01-21' '2011-01-22' '2011-01-23' '2011-01-24' '2011-01-25'
 '2011-01-26' '2011-01-27' '2011-01-28' '2011-01-29' '2011-01-30'
 '2011-01-31' '2011-02-01' '2011-02-02' '2011-02-03' '2011-02-04'
 '2011-02-05' '2011-02-06' '2011-02-07' '2011-02-08' '2011-02-09'
 '2011-02-10' '2011-02-11' '2011-02-12' '2011-02-13' '2011-02-14'
 '2011-02-15' '2011-02-16' '2011-02-17' '2011-02-18' '2011-02-19'
 '2011-02-20' '2011-02-21' '2011-02-22' '2011-02-23' '2011-02-24'
 '2011-02-25' '2011-02-26' '2011-02-27' '2011-02-28' '2011-03-01'
 '2011-03-02' '2011-03-03' '2011-03-04' '2011-03-05' '2011-03-06'
 '2011-03-07' '2011-03-08' '2011-03-09' '2011-03-10' '2011-03-11'
 '2011-03-12' '2011-03-13' '2011-03-14' '2011-03-15' '2011-03-16'
 '2011-03-17' '2011-03-18' '2011-03-19' '2011-03-20' '2011-03-21'
 '2011-03-22' '2011-03-23' '2011-03-24' '2011-03-25' '2011-03-26'
 '2011-03-27' '2011-03-28' '2011-03-29' '2011-03-30' '2011-03-31'
 '2011-04-01' '2011-04-02' '2011-04-03' '2011-04-04' '2011-04-05'
 '2011-04-06' '2011-04-07' '2011-04-08' '2011-04-09' '2011-04-10'
 '2011-04-11' '2011-04-12' '2011-04-13' '2011-04-14' '2011-04-15'
 '2011-04-16' '2011-04-17' '2011-04-18' '2011-04-19' '2011-04-20'
 '2011-04-21' '2011-04-22' '2011-04-23' '2011-04-24' '2011-04-25'
 '2011-04-26' '2011-04-27' '2011-04-28' '2011-04-29' '2011-04-30'
 '2011-05-01' '2011-05-02' '2011-05-03' '2011-05-04' '2011-05-05'
 '2011-05-06' '2011-05-07' '2011-05-08' '2011-05-09' '2011-05-10'
 '2011-05-11' '2011-05-12' '2011-05-13' '2011-05-14' '2011-05-15'
 '2011-05-16' '2011-05-17' '2011-05-18' '2011-05-19' '2011-05-20'
 '2011-05-21' '2011-05-22' '2011-05-23' '2011-05-24' '2011-05-25'
 '2011-05-26' '2011-05-27' '2011-05-28' '2011-05-29' '2011-05-30'
 '2011-05-31' '2011-06-01' '2011-06-02' '2011-06-03' '2011-06-04'
 '2011-06-05' '2011-06-06' '2011-06-07' '2011-06-08' '2011-06-09'
 '2011-06-10' '2011-06-11' '2011-06-12' '2011-06-13' '2011-06-14'
 '2011-06-15' '2011-06-16' '2011-06-17' '2011-06-18' '2011-06-19'
 '2011-06-20' '2011-06-21' '2011-06-22' '2011-06-23' '2011-06-24'
 '2011-06-25' '2011-06-26' '2011-06-27' '2011-06-28' '2011-06-29'
 '2011-06-30' '2011-07-01' '2011-07-02' '2011-07-03' '2011-07-04'
 '2011-07-05' '2011-07-06' '2011-07-07' '2011-07-08' '2011-07-09'
 '2011-07-10' '2011-07-11' '2011-07-12' '2011-07-13' '2011-07-14'
 '2011-07-15' '2011-07-16' '2011-07-17' '2011-07-18' '2011-07-19'
 '2011-07-20' '2011-07-21' '2011-07-22' '2011-07-23' '2011-07-24'
 '2011-07-25' '2011-07-26' '2011-07-27' '2011-07-28' '2011-07-29'
 '2011-07-30' '2011-07-31' '2011-08-01' '2011-08-02' '2011-08-03'
 '2011-08-04' '2011-08-05' '2011-08-06' '2011-08-07' '2011-08-08'
 '2011-08-09' '2011-08-10' '2011-08-11' '2011-08-12' '2011-08-13'
 '2011-08-14' '2011-08-15' '2011-08-16' '2011-08-17' '2011-08-18'
 '2011-08-19' '2011-08-20' '2011-08-21' '2011-08-22' '2011-08-23'
 '2011-08-24' '2011-08-25' '2011-08-26' '2011-08-27' '2011-08-28'
 '2011-08-29' '2011-08-30' '2011-08-31' '2011-09-01' '2011-09-02'
 '2011-09-03' '2011-09-04' '2011-09-05' '2011-09-06' '2011-09-07'
 '2011-09-08' '2011-09-09' '2011-09-10' '2011-09-11' '2011-09-12'
 '2011-09-13' '2011-09-14' '2011-09-15' '2011-09-16' '2011-09-17'
 '2011-09-18' '2011-09-19' '2011-09-20' '2011-09-21' '2011-09-22'
 '2011-09-23' '2011-09-24' '2011-09-25' '2011-09-26' '2011-09-27'
 '2011-09-28' '2011-09-29' '2011-09-30' '2011-10-01' '2011-10-02'
 '2011-10-03' '2011-10-04' '2011-10-05' '2011-10-06' '2011-10-07'
 '2011-10-08' '2011-10-09' '2011-10-10' '2011-10-11' '2011-10-12'
 '2011-10-13' '2011-10-14' '2011-10-15' '2011-10-16' '2011-10-17'
 '2011-10-18' '2011-10-19' '2011-10-20' '2011-10-21' '2011-10-22'
 '2011-10-23' '2011-10-24' '2011-10-25' '2011-10-26' '2011-10-27'
 '2011-10-28' '2011-10-29' '2011-10-30' '2011-10-31' '2011-11-01'
 '2011-11-02' '2011-11-03' '2011-11-04' '2011-11-05' '2011-11-06'
 '2011-11-07' '2011-11-08' '2011-11-09' '2011-11-10' '2011-11-11'
 '2011-11-12' '2011-11-13' '2011-11-14' '2011-11-15' '2011-11-16'
 '2011-11-17' '2011-11-18' '2011-11-19' '2011-11-20' '2011-11-21'
 '2011-11-22' '2011-11-23' '2011-11-24' '2011-11-25' '2011-11-26'
 '2011-11-27' '2011-11-28' '2011-11-29' '2011-11-30' '2011-12-01'
 '2011-12-02' '2011-12-03' '2011-12-04' '2011-12-05' '2011-12-06'
 '2011-12-07' '2011-12-08' '2011-12-09' '2011-12-10' '2011-12-11'
 '2011-12-12' '2011-12-13' '2011-12-14' '2011-12-15' '2011-12-16'
 '2011-12-17' '2011-12-18' '2011-12-19' '2011-12-20' '2011-12-21'
 '2011-12-22' '2011-12-23' '2011-12-24' '2011-12-25' '2011-12-26'
 '2011-12-27' '2011-12-28' '2011-12-29' '2011-12-30' '2011-12-31'
 '2012-01-01' '2012-01-02' '2012-01-03' '2012-01-04' '2012-01-05'
 '2012-01-06' '2012-01-07' '2012-01-08' '2012-01-09' '2012-01-10'
 '2012-01-11' '2012-01-12' '2012-01-13' '2012-01-14' '2012-01-15'
 '2012-01-16' '2012-01-17' '2012-01-18' '2012-01-19' '2012-01-20'
 '2012-01-21' '2012-01-22' '2012-01-23' '2012-01-24' '2012-01-25'
 '2012-01-26' '2012-01-27' '2012-01-28' '2012-01-29' '2012-01-30'
 '2012-01-31' '2012-02-01' '2012-02-02' '2012-02-03' '2012-02-04'
 '2012-02-05' '2012-02-06' '2012-02-07' '2012-02-08' '2012-02-09'
 '2012-02-10' '2012-02-11' '2012-02-12' '2012-02-13' '2012-02-14'
 '2012-02-15' '2012-02-16' '2012-02-17' '2012-02-18' '2012-02-19'
 '2012-02-20' '2012-02-21' '2012-02-22' '2012-02-23' '2012-02-24'
 '2012-02-25' '2012-02-26' '2012-02-27' '2012-02-28' '2012-02-29'
 '2012-03-01' '2012-03-02' '2012-03-03' '2012-03-04' '2012-03-05'
 '2012-03-06' '2012-03-07' '2012-03-08' '2012-03-09' '2012-03-10'
 '2012-03-11' '2012-03-12' '2012-03-13' '2012-03-14' '2012-03-15'
 '2012-03-16' '2012-03-17' '2012-03-18' '2012-03-19' '2012-03-20'
 '2012-03-21' '2012-03-22' '2012-03-23' '2012-03-24' '2012-03-25'
 '2012-03-26' '2012-03-27' '2012-03-28' '2012-03-29' '2012-03-30'
 '2012-03-31' '2012-04-01' '2012-04-02' '2012-04-03' '2012-04-04'
 '2012-04-05' '2012-04-06' '2012-04-07' '2012-04-08' '2012-04-09'
 '2012-04-10' '2012-04-11' '2012-04-12' '2012-04-13' '2012-04-14'
 '2012-04-15' '2012-04-16' '2012-04-17' '2012-04-18' '2012-04-19'
 '2012-04-20' '2012-04-21' '2012-04-22' '2012-04-23' '2012-04-24'
 '2012-04-25' '2012-04-26' '2012-04-27' '2012-04-28' '2012-04-29'
 '2012-04-30' '2012-05-01' '2012-05-02' '2012-05-03' '2012-05-04'
 '2012-05-05' '2012-05-06' '2012-05-07' '2012-05-08' '2012-05-09'
 '2012-05-10' '2012-05-11' '2012-05-12' '2012-05-13' '2012-05-14'
 '2012-05-15' '2012-05-16' '2012-05-17' '2012-05-18' '2012-05-19'
 '2012-05-20' '2012-05-21' '2012-05-22' '2012-05-23' '2012-05-24'
 '2012-05-25' '2012-05-26' '2012-05-27' '2012-05-28' '2012-05-29'
 '2012-05-30' '2012-05-31' '2012-06-01' '2012-06-02' '2012-06-03'
 '2012-06-04' '2012-06-05' '2012-06-06' '2012-06-07' '2012-06-08'
 '2012-06-09' '2012-06-10' '2012-06-11' '2012-06-12' '2012-06-13'
 '2012-06-14' '2012-06-15' '2012-06-16' '2012-06-17' '2012-06-18'
 '2012-06-19' '2012-06-20' '2012-06-21' '2012-06-22' '2012-06-23'
 '2012-06-24' '2012-06-25' '2012-06-26' '2012-06-27' '2012-06-28'
 '2012-06-29' '2012-06-30' '2012-07-01' '2012-07-02' '2012-07-03'
 '2012-07-04' '2012-07-05' '2012-07-06' '2012-07-07' '2012-07-08'
 '2012-07-09' '2012-07-10' '2012-07-11' '2012-07-12' '2012-07-13'
 '2012-07-14' '2012-07-15' '2012-07-16' '2012-07-17' '2012-07-18'
 '2012-07-19' '2012-07-20' '2012-07-21' '2012-07-22' '2012-07-23'
 '2012-07-24' '2012-07-25' '2012-07-26' '2012-07-27' '2012-07-28'
 '2012-07-29' '2012-07-30' '2012-07-31' '2012-08-01' '2012-08-02'
 '2012-08-03' '2012-08-04' '2012-08-05' '2012-08-06' '2012-08-07'
 '2012-08-08' '2012-08-09' '2012-08-10' '2012-08-11' '2012-08-12'
 '2012-08-13' '2012-08-14' '2012-08-15' '2012-08-16' '2012-08-17'
 '2012-08-18' '2012-08-19' '2012-08-20' '2012-08-21' '2012-08-22'
 '2012-08-23' '2012-08-24' '2012-08-25' '2012-08-26' '2012-08-27'
 '2012-08-28' '2012-08-29' '2012-08-30' '2012-08-31' '2012-09-01'
 '2012-09-02' '2012-09-03' '2012-09-04' '2012-09-05' '2012-09-06'
 '2012-09-07' '2012-09-08' '2012-09-09' '2012-09-10' '2012-09-11'
 '2012-09-12' '2012-09-13' '2012-09-14' '2012-09-15' '2012-09-16'
 '2012-09-17' '2012-09-18' '2012-09-19' '2012-09-20' '2012-09-21'
 '2012-09-22' '2012-09-23' '2012-09-24' '2012-09-25' '2012-09-26'
 '2012-09-27' '2012-09-28' '2012-09-29' '2012-09-30' '2012-10-01'
 '2012-10-02' '2012-10-03' '2012-10-04' '2012-10-05' '2012-10-06'
 '2012-10-07' '2012-10-08' '2012-10-09' '2012-10-10' '2012-10-11'
 '2012-10-12' '2012-10-13' '2012-10-14' '2012-10-15' '2012-10-16'
 '2012-10-17' '2012-10-18' '2012-10-19' '2012-10-20' '2012-10-21'
 '2012-10-22' '2012-10-23' '2012-10-24' '2012-10-25' '2012-10-26'
 '2012-10-27' '2012-10-28' '2012-10-29' '2012-10-30' '2012-10-31'
 '2012-11-01' '2012-11-02' '2012-11-03' '2012-11-04' '2012-11-05'
 '2012-11-06' '2012-11-07' '2012-11-08' '2012-11-09' '2012-11-10'
 '2012-11-11' '2012-11-12' '2012-11-13' '2012-11-14' '2012-11-15'
 '2012-11-16' '2012-11-17' '2012-11-18' '2012-11-19' '2012-11-20'
 '2012-11-21' '2012-11-22' '2012-11-23' '2012-11-24' '2012-11-25'
 '2012-11-26' '2012-11-27' '2012-11-28' '2012-11-29' '2012-11-30'
 '2012-12-01' '2012-12-02' '2012-12-03' '2012-12-04' '2012-12-05'
 '2012-12-06' '2012-12-07' '2012-12-08' '2012-12-09' '2012-12-10'
 '2012-12-11' '2012-12-12' '2012-12-13' '2012-12-14' '2012-12-15'
 '2012-12-16' '2012-12-17' '2012-12-18' '2012-12-19' '2012-12-20'
 '2012-12-21' '2012-12-22' '2012-12-23' '2012-12-24' '2012-12-25'
 '2012-12-26' '2012-12-27' '2012-12-28' '2012-12-29' '2012-12-30'
 '2012-12-31']

# missing value identification

In [ ]:
# missing value identification
bikes.isnull()  # give true/false in table
bikes.isnull().sum()
bikes.isna()  # result same as isnull()
bikes.isna().sum()  # result same as isnull().sum()
# h.w

In [64]:
print(bikes.isnull())
print(bikes.isnull().sum())
print(bikes.isna())
print("Duplicate records",bikes.duplicated())

       dteday  season     yr   mnth     hr  holiday  weekday  workingday  \
0       False   False  False  False  False    False    False       False
1       False   False  False  False  False    False    False       False
2       False   False  False  False  False    False    False       False
3       False   False  False  False  False    False    False       False
4       False   False  False  False  False    False    False       False
...       ...     ...    ...    ...    ...      ...      ...         ...
17374   False   False  False  False  False    False    False       False
17375   False   False  False  False  False    False    False       False
17376   False   False  False  False  False    False    False       False
17377   False   False  False  False  False    False    False       False
17378   False   False  False  False  False    False    False       False

       weathersit   temp  atemp    hum  windspeed  casual  registered    cnt
0           False  False  False  False      False   False       False  False
1           False  False  False  False      False   False       False  False
2           False  False  False  False      False   False       False  False
3           False  False  False  False      False   False       False  False
4           False  False  False  False      False   False       False  False
...           ...    ...    ...    ...        ...     ...         ...    ...
17374       False  False  False  False      False   False       False  False
17375       False  False  False  False      False   False       False  False
17376       False  False  False  False      False   False       False  False
17377       False  False  False  False      False   False       False  False
17378       False  False  False  False      False   False       False  False

[17379 rows x 16 columns]
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64
       dteday  season     yr   mnth     hr  holiday  weekday  workingday  \
0       False   False  False  False  False    False    False       False
1       False   False  False  False  False    False    False       False
2       False   False  False  False  False    False    False       False
3       False   False  False  False  False    False    False       False
4       False   False  False  False  False    False    False       False
...       ...     ...    ...    ...    ...      ...      ...         ...
17374   False   False  False  False  False    False    False       False
17375   False   False  False  False  False    False    False       False
17376   False   False  False  False  False    False    False       False
17377   False   False  False  False  False    False    False       False
17378   False   False  False  False  False    False    False       False

       weathersit   temp  atemp    hum  windspeed  casual  registered    cnt
0           False  False  False  False      False   False       False  False
1           False  False  False  False      False   False       False  False
2           False  False  False  False      False   False       False  False
3           False  False  False  False      False   False       False  False
4           False  False  False  False      False   False       False  False
...           ...    ...    ...    ...        ...     ...         ...    ...
17374       False  False  False  False      False   False       False  False
17375       False  False  False  False      False   False       False  False
17376       False  False  False  False      False   False       False  False
17377       False  False  False  False      False   False       False  False
17378       False  False  False  False      False   False       False  False

[17379 rows x 16 columns]
Duplicate records 0        False
1        False
2        False
3        False
4        False
         ...
17374    False
17375    False
17376    False
17377    False
17378    False
Length: 17379, dtype: bool

In [31]:
bikes.isnull()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17375,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17376,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17377,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17378,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [33]:
bikes.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [34]:
bikes.isna()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17375,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17376,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17377,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17378,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [35]:
bikes.isna().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [36]:
bikes.notna()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
17375,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
17376,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
17377,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
17378,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [37]:
bikes.notna().sum()

instant       17379
dteday        17379
season        17379
yr            17379
mnth          17379
hr            17379
holiday       17379
weekday       17379
workingday    17379
weathersit    17379
temp          17379
atemp         17379
hum           17379
windspeed     17379
casual        17379
registered    17379
cnt           17379
dtype: int64

# duplicate record identification

In [66]:
dte = pd.to_datetime(bikes.dteday)
print(dte)
print(type(dte))
year = dte.dt.year
month = dte.dt.month
hour = dte.dt.hour
print("Years :",year.head(2))
print(year.tail(2))
print("Months are :", month )
print("Hours are :", hour )

0       2011-01-01
1       2011-01-01
2       2011-01-01
3       2011-01-01
4       2011-01-01
           ...
17374   2012-12-31
17375   2012-12-31
17376   2012-12-31
17377   2012-12-31
17378   2012-12-31
Name: dteday, Length: 17379, dtype: datetime64[ns]
<class 'pandas.core.series.Series'>
Years : 0    2011
1    2011
Name: dteday, dtype: int32
17377    2012
17378    2012
Name: dteday, dtype: int32
Months are : 0         1
1         1
2         1
3         1
4         1
         ..
17374    12
17375    12
17376    12
17377    12
17378    12
Name: dteday, Length: 17379, dtype: int32
Hours are : 0        0
1        0
2        0
3        0
4        0
        ..
17374    0
17375    0
17376    0
17377    0
17378    0
Name: dteday, Length: 17379, dtype: int32

In [39]:
# data transformation

bikes.dteday
# dteday is a column and it should be called without parantheses .

0        2011-01-01
1        2011-01-01
2        2011-01-01
3        2011-01-01
4        2011-01-01
            ...
17374    2012-12-31
17375    2012-12-31
17376    2012-12-31
17377    2012-12-31
17378    2012-12-31
Name: dteday, Length: 17379, dtype: object

In [41]:
bikes.dteday.head()
dte = pd.to_datetime(bikes.dteday)   # convert dteday --> datetime format
print(type(dte))
print(dte)

<class 'pandas.core.series.Series'>
0       2011-01-01
1       2011-01-01
2       2011-01-01
3       2011-01-01
4       2011-01-01
           ...
17374   2012-12-31
17375   2012-12-31
17376   2012-12-31
17377   2012-12-31
17378   2012-12-31
Name: dteday, Length: 17379, dtype: datetime64[ns]

In [67]:
bikes.drop(["yr"], axis=1 , inplace=True)
bikes.columns

Index(['dteday', 'season', 'mnth', 'hr', 'holiday', 'weekday', 'workingday',
       'weathersit', 'temp', 'atemp', 'hum', 'windspeed', 'casual',
       'registered', 'cnt'],
      dtype='object')

In [42]:
bikes['year'] = bikes['dteday'].dt.year
bikes['month'] = bikes['dteday'].dt.month

AttributeError: Can only use .dt accessor with datetimelike values

In [69]:
df_by_seasons = bikes.groupby ("season")
print(type(df_by_seasons))
print(df_by_seasons["casual"].sum())
print(df_by_seasons["registered"].sum())

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
season
1     60622
2    203522
3    226091
4    129782
Name: casual, dtype: int64
season
1    410726
2    715067
3    835038
4    711831
Name: registered, dtype: int64

In [43]:
dte

0       2011-01-01
1       2011-01-01
2       2011-01-01
3       2011-01-01
4       2011-01-01
           ...
17374   2012-12-31
17375   2012-12-31
17376   2012-12-31
17377   2012-12-31
17378   2012-12-31
Name: dteday, Length: 17379, dtype: datetime64[ns]

In [45]:
# feature extraction

year = dte.dt.year
print(year.head(2))
print(year.tail(2))

0    2011
1    2011
Name: dteday, dtype: int32
17377    2012
17378    2012
Name: dteday, dtype: int32

In [51]:
month =dte.dt.month
print(month.head(4))
print(month.tail(4))

0    1
1    1
2    1
3    1
Name: dteday, dtype: int32
17375    12
17376    12
17377    12
17378    12
Name: dteday, dtype: int32

In [70]:
# feature reduction

bikes.drop(["instant"],axis = 1, inplace =True)
bikes.column

KeyError: "['instant'] not found in axis"

In [72]:
print("rows and column in file",bikes.shape)
print("size or no. of element in file ",bikes.size)
print(bikes.info())
print(bikes.columns)
print(bikes.dtypes)

rows and column in file (17379, 15)
size or no. of element in file  260685
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dteday      17379 non-null  object
 1   season      17379 non-null  int64
 2   mnth        17379 non-null  int64
 3   hr          17379 non-null  int64
 4   holiday     17379 non-null  int64
 5   weekday     17379 non-null  int64
 6   workingday  17379 non-null  int64
 7   weathersit  17379 non-null  int64
 8   temp        17379 non-null  float64
 9   atemp       17379 non-null  float64
 10  hum         17379 non-null  float64
 11  windspeed   17379 non-null  float64
 12  casual      17379 non-null  int64
 13  registered  17379 non-null  int64
 14  cnt         17379 non-null  int64
dtypes: float64(4), int64(10), object(1)
memory usage: 2.0+ MB
None
Index(['dteday', 'season', 'mnth', 'hr', 'holiday', 'weekday', 'workingday',
       'weathersit', 'temp', 'atemp', 'hum', 'windspeed', 'casual',
       'registered', 'cnt'],
      dtype='object')
dteday         object
season          int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

In [73]:
bikes = pd.read_csv("bike_shairing_hourly.csv")
print(bikes.head(2))
print(bikes.tail(2))
print(bikes.describe())

   instant      dteday  season  yr  mnth  hr  holiday  weekday  workingday  \
0        1  2011-01-01       1   0     1   0        0        6           0
1        2  2011-01-01       1   0     1   1        0        6           0

   weathersit  temp   atemp   hum  windspeed  casual  registered  cnt
0           1  0.24  0.2879  0.81        0.0       3          13   16
1           1  0.22  0.2727  0.80        0.0       8          32   40
       instant      dteday  season  yr  mnth  hr  holiday  weekday  \
17377    17378  2012-12-31       1   1    12  22        0        1
17378    17379  2012-12-31       1   1    12  23        0        1

       workingday  weathersit  temp   atemp   hum  windspeed  casual  \
17377           1           1  0.26  0.2727  0.56     0.1343      13
17378           1           1  0.26  0.2727  0.65     0.1343      12

       registered  cnt
17377          48   61
17378          37   49
          instant        season            yr          mnth            hr  \
count  17379.0000  17379.000000  17379.000000  17379.000000  17379.000000
mean    8690.0000      2.501640      0.502561      6.537775     11.546752
std     5017.0295      1.106918      0.500008      3.438776      6.914405
min        1.0000      1.000000      0.000000      1.000000      0.000000
25%     4345.5000      2.000000      0.000000      4.000000      6.000000
50%     8690.0000      3.000000      1.000000      7.000000     12.000000
75%    13034.5000      3.000000      1.000000     10.000000     18.000000
max    17379.0000      4.000000      1.000000     12.000000     23.000000

            holiday       weekday    workingday    weathersit          temp  \
count  17379.000000  17379.000000  17379.000000  17379.000000  17379.000000
mean       0.028770      3.003683      0.682721      1.425283      0.496987
std        0.167165      2.005771      0.465431      0.639357      0.192556
min        0.000000      0.000000      0.000000      1.000000      0.020000
25%        0.000000      1.000000      0.000000      1.000000      0.340000
50%        0.000000      3.000000      1.000000      1.000000      0.500000
75%        0.000000      5.000000      1.000000      2.000000      0.660000
max        1.000000      6.000000      1.000000      4.000000      1.000000

              atemp           hum     windspeed        casual    registered  \
count  17379.000000  17379.000000  17379.000000  17379.000000  17379.000000
mean       0.475775      0.627229      0.190098     35.676218    153.786869
std        0.171850      0.192930      0.122340     49.305030    151.357286
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.333300      0.480000      0.104500      4.000000     34.000000
50%        0.484800      0.630000      0.194000     17.000000    115.000000
75%        0.621200      0.780000      0.253700     48.000000    220.000000
max        1.000000      1.000000      0.850700    367.000000    886.000000

                cnt
count  17379.000000
mean     189.463088
std      181.387599
min        1.000000
25%       40.000000
50%      142.000000
75%      281.000000
max      977.000000

In [ ]:
bikes.drop

In [57]:
# describe
print(bikes.casual.describe()) # casual users stat
print(bikes.registered.describe()) # registered users stat

count    17379.000000
mean        35.676218
std         49.305030
min          0.000000
25%          4.000000
50%         17.000000
75%         48.000000
max        367.000000
Name: casual, dtype: float64
count    17379.000000
mean       153.786869
std        151.357286
min          0.000000
25%         34.000000
50%        115.000000
75%        220.000000
max        886.000000
Name: registered, dtype: float64

# group by and concat/merge

In [59]:
#first create the grpup by
df_by_season = bikes.groupby("season")
print(df_by_season)
type(df_by_season)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002C68C7611D0>

pandas.core.groupby.generic.DataFrameGroupBy

In [60]:
# sum("casul") group by season
df_by_season["casual"].sum()

season
1     60622
2    203522
3    226091
4    129782
Name: casual, dtype: int64

In [61]:
# sum("registered ") group by season
df_by_season["registered"].sum()

season
1    410726
2    715067
3    835038
4    711831
Name: registered, dtype: int64